@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    font-display: swap;
}

:root {
    --dark-bg: #121212;
    --dark-bg-secondary: #1e1e1e;
    --dark-text: #ffffff;
    --dark-text-secondary: #b0b0b0;
    --dark-border: #4a4a4a;
    --dark-hover-bg: #2c2c2c;
    --dark-hover-border: #5a5a5a;
    --light-bg: #ffffff;
    --darker-bg: #f0f0f0;
    --light-text: #121212;
    --hover-bg: #d1d5db;
    --background-color: var(--light-bg);
    --text-color: var(--light-text);
    --transition-duration: 0.3s;
    --font-sans: var(--font-poppins);
    --font-mono: var(--font-fira-code);
}

::selection {
    background-color: #ffd700;
    color: #000000;
}

::-moz-selection {
    background-color: #ffd700;
    color: #000000;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: color var(--transition-duration) ease,
        background-color var(--transition-duration) ease;
    font-family: var(--font-sans);
}

* {
    transition: background-color var(--transition-duration) ease;
}

body.dark-mode {
    --background-color: var(--dark-bg);
    --text-color: var(--dark-text);
}

.dark-mode {
    .bg-white {
        background-color: var(--dark-bg-secondary);
    }
    .bg-white-100 {
        background-color: var(--darker-bg);
    }
    .bg-black {
        background-color: var(--light-bg);
    }
    .bg-gray-100 {
        color: var(--light-text);
    }

    .text-white {
        color: var(--light-text);
    }
    .text-gray-500,
    .text-gray-600 {
        color: var(--dark-text-secondary);
    }

    .text-gray-800 {
        color: var(--dark-text);
    }

    .border-gray-300 {
        border-color: var(--dark-border);
    }
    .border-gray-800 {
        border-color: var(--light-bg);
    }

    .hover\:text-black:hover {
        color: var(--dark-text);
    }
    .bg-black:hover {
        background-color: var(--hover-bg);
        border-color: var(--light-bg);
    }
    .hover\:bg-gray-100:hover {
        background-color: var(--dark-hover-bg);
    }
    .hover\:border-gray-400:hover {
        border-color: var(--dark-hover-border);
    }
    .text-gray-500:hover {
        color: var(--hover-bg);
    }
}

code {
    font-family: var(--font-mono);
}

@keyframes shimmer {
    0% {
        background-position: -200% center;
    }
    100% {
        background-position: 200% center;
    }
}

.animate-shimmer {
    background: linear-gradient(
        110deg,
        #000 0%,
        #000 40%,
        #333 50%,
        #000 60%,
        #000 100%
    );
    background-size: 200% auto;
    animation: shimmer 2s ease-in-out 1s forwards;
}

.dark-mode .animate-shimmer {
    background: linear-gradient(
        110deg,
        #fff 0%,
        #fff 40%,
        #ccc 50%,
        #fff 60%,
        #fff 100%
    );
    background-size: 200% auto;
    animation: shimmer 2s ease-in-out 1s forwards;
}
