@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Dark mode variables */
    --dark-bg: #121212;
    --dark-bg-secondary: #1e1e1e;
    --dark-text: #ffffff;
    --dark-text-secondary: #b0b0b0;
    --dark-border: #4a4a4a;
    --dark-hover-bg: #2c2c2c;
    --dark-hover-border: #5a5a5a;

    /* Light mode variables */
    --light-bg: #ffffff;
    --darker-bg: #f0f0f0;
    --light-text: #121212;
    --hover-bg: #d1d5db;
}

/* Dark mode styles */
body.dark-mode {
    background-color: var(--dark-bg);
    color: var(--dark-text);

    .bg-white,
    body.dark-mode .bg-white {
        background-color: var(--dark-bg-secondary);
    }
    .bg-black {
        background-color: var(--light-bg);
    }
    .bg-gray-100 {
        color: var(--light-text);
    }
    .bg-white-100 {
        background-color: var(--darker-bg);
    }

    .text-white {
        color: var(--light-text);
    }
    .text-gray-500,
    .text-gray-600 {
        color: var(--dark-text-secondary);
    }
    .text-gray-800 {
        color: var(--dark-text);
    }

    .border-gray-300 {
        border-color: var(--dark-border);
    }
    .border-gray-800 {
        border-color: var(--light-bg);
    }

    /* Hover states */
    .hover\:text-black:hover {
        color: var(--dark-text);
    }
    .bg-black:hover {
        background-color: var(--hover-bg);
        border-color: var(--light-bg);
    }
    .hover\:bg-gray-100:hover {
        background-color: var(--dark-hover-bg);
    }
    .hover\:border-gray-400:hover {
        border-color: var(--dark-hover-border);
    }
    .text-gray-500:hover {
        color: var(--hover-bg);
    }
}
